<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suas_ps_mannager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SUAS_PS_MANNAGER">
        <activity
            android:theme="@style/AppThemefull"
            android:name=".RequestDetailActivity"
            android:exported="false" />
        <activity
            android:theme="@style/AppThemefull"
            android:name=".CompletedActivity"
            android:exported="false" />
        <activity
            android:theme="@style/AppThemefull"
            android:name=".WorkingActivity"
            android:exported="false" />
        <activity
            android:theme="@style/AppThemefull"
            android:name=".PendingActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:theme="@style/AppThemefull">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppThemefull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingInActivity"
            android:exported="false"
            android:theme="@style/AppThemefull" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/AppThemefull" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/AppThemefull" />
    </application>

</manifest>